.role-badge {
  color: white;
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.w-100 {
  width: 100%;
}

table {
  min-width: 100%;
}

.mat-mdc-slide-toggle {
  --mdc-switch-selected-track-color: #2BB673;
  --mdc-switch-selected-handle-color: #2BB673;
}